.markazi-text-400 {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
.markazi-text-500 {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
.markazi-text-600 {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
.markazi-text-700 {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  body{
    overflow-x: hidden;
  }
  